body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #00263B; 
  color: #FFD700; 
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: 'Georgia', serif;
  color: #FFD700; 
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a.active_nav {
  border-bottom: 2px solid #FFD700;
}

nav a:hover {
  color: #FFD700;
}

#hamburger_image {
  width: 25px;
  cursor: pointer;
}

#hamburger_checkbox {
  display: none;
}

#hamburger_checkbox:checked + nav {
  display: block;
}

nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav {
      display: block;
  }
}

/* Form Styles */
#contact_form {
  background-color: #fff;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#contact_form label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  color: #00263B; ;
}

#contact_form input[type="text"],
#contact_form input[type="email"],
#contact_form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

#contact_form textarea {
  resize: none;
  height: 150px;
}

#contact_form button {
  background-color: #00263B; ;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

#contact_form button:hover {
  background-color: #FFD700;
  color: #4a4a4a;
}

/* Footer */
footer {
  background-color: #4a4a4a;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

/* Footer styling */
footer {
  background-color: #00263B; 
  color: #FFD700; 
  text-align: center;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}


@media only screen and (min-width: 768px) {
  #contact_form {
      margin: 50px auto;
  }
}